.chessBoard {
  background-color: burlywood;
  width: 90vmin;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
  align-self: center;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .chessBoard {
    max-width: 50rem;
  }
}
