.chessBoard {
  position: relative;
  background-color: burlywood;
  width: 90vmin;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
  align-self: center;
  text-align: center;
}
.coordinates {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.coordinate-light {
    fill: #739552;
    font-weight: 600;
}
.coordinate-dark {
    font-weight: 600;
    fill: #EBECD0;
}

@media screen and (max-width: 576px) {
  .chessBoard {
    max-width: 50rem;
  }
}
