.chessPanel{
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: black;
  /* width: auto; */
  max-width: 30rem;
  min-width: 10rem;
  height: 100px;
}

@media screen and (max-width: 576px) {
  .chessPanel {
    max-width: none;
  }
}